$font-primary: 'Fira Sans', Arial, sans-serif;
$font-secondary: 'Lora', Georgia, serif;
$font-tertiary: 'Open Sans', Arial, sans-serif;
$font-logo: 'Grand Hotel', cursive;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #F6490D !default;
$brand-footer-color: #F6F6F6;

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #e8e8e8;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #4c4a8a;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;


$screen-sm: 768px;
$screen-xs: 960px;
// Mixin
@mixin translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}
@mixin transition($transition) {
  -moz-transition:    all $transition ease;
  -o-transition:      all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: 		all $transition ease;
  transition:         all $transition ease;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}


@mixin icomoon() {
  //font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

// Import




/* =======================================================
*
* 	Template Style
*
* ======================================================= */

body {
  font-family: $font-tertiary;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: lighten($brand-black,20%);
  background: #FAFAFA;
}
#app {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  @include transition(.5s);
  .offcanvas & {
    overflow: hidden;
    position: absolute;

    &:after {
      @include transition(2s);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0,0,0,.7);
      content: "";
    }
  }
}
a {
  color: $brand-primary;
  @include transition(.5s);
  &:hover, &:active, &:focus {
    color: $brand-primary;
    outline: none;
    text-decoration: none;
  }
}
p {
  margin-bottom: 20px;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.colorlib-nav {
  @media screen and (max-width: $screen-sm ) {
    margin: 0;
  }
  .top-menu{
    padding: 10px 30px;
    transition: top 0.3s ease-in-out;
    @media screen and (max-width: $screen-sm ) {
      padding: 28px 1em;
    }

  }
  #colorlib-logo {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-family: $font-logo;
    line-height: 40px;
    a{
      position: relative;
      color: $brand-black;
    }
  }
  .menu-1 {
    @media screen and (max-width: $screen-sm ) {
      display: none;
    }
  }
  ul {
    padding: 0;
    margin: 5px 0 0 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 2px;
      & :hover {
        color: #F6490D !important;
      }
      &.active {
        a {
          color: #F6490D !important;
        }
      }
      a {
        position: relative;
        font-size: 16px;
        padding: 10px 15px;
        color: rgba(0,0,0,7);
      }
      &.btn-cta {
        a {
          padding: 30px 0px !important;
          color: $brand-white;
          span {
            background: rgba($brand-primary,1);
            padding: 4px 10px;
            @include inline-block;
            @include transition(.3s);
            @include border-radius(100px);
          }
          &:hover {
            span {
              -webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
              -moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
              box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
            }
          }
        }
      }
    }
  }
}

#colorlib-counter,
.colorlib-bg{
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.content{
  width: 64%;
  @media screen and (max-width: $screen-sm) {
  }
}
.sidebar{
  width: 30%;
  float: right;
}
.content,.sidebar{
  display: inline-block;
  @media screen and (max-width: $screen-sm){
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.wrap{
  width: 100%;
  display: block;
  padding-left: 3em;
  padding-right: 3em;
  @media screen and(max-width: $screen-sm){
    padding: 0;
  }
}
.sidebar-2{
  width: 100%;
  display: block;
}


.colorlib-heading-2{
  display: block;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 1.5em;
}

// off canvas
#colorlib-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: lighten($brand-black, 0%);
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  @include translateX(270px);
  @include transition(.5s);
  @media screen and(max-width: $screen-sm){
    display: block;
  }
  .offcanvas & {
    @include translateX(0px);
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      a {
        color: rgba(255,255,255,.5);
      }
      & :hover {
        color: #F6490D !important;
      }
      &.active {
        a {
          color: #F6490D !important;
        }
      }
      padding: 0;
      margin: 0;
      list-style: none;
      > ul {
        padding-left: 20px;
        display: none;
      }
    }
  }
}

// Burger Menu
.colorlib-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  top: 1.3em !important;
  &.active i {
    &::before, &::after {
      background: $brand-darker;
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none!important;
  }
  i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font:bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent:-55px;
    background: #252525;
    transition: all .2s ease-out;
    &::before, &::after {
      content:'';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left:0;
      transition:all .2s ease-out;
    }
  }
  &.colorlib-nav-white {
    > i {
      color:$brand-black;
      background: $brand-black;
      &::before, &::after {
        background: $brand-black;
      }
    }
  }
}

.colorlib-nav-toggle i::before {
  top: -7px;
}
.colorlib-nav-toggle i::after {
  bottom: -7px;
}
.colorlib-nav-toggle:hover i::before {
  top: -10px;
}
.colorlib-nav-toggle:hover i::after {
  bottom: -10px;
}
.colorlib-nav-toggle.active i {
  background: transparent;
}
.colorlib-nav-toggle.active i::before {
  top:0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: $brand-white;
}
.colorlib-nav-toggle.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: $brand-white;
}
.colorlib-nav-toggle {
  position: fixed;
  right: 0px;
  top: 65px;
  padding: 6px 0 0 0;
  margin: 0 auto;
  display: none;
  // background: #f86942;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
    display: block;
  }
}

// Buttons

.colorlib-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  //background: url('../images/loader.gif') center no-repeat #fff;
  @include transition(.5s);
}

.navbar-nav > .nav-item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  .nav-link {
    position: relative;
    font-size: 12px;
    padding: 10px 15px;
    color: rgba(0,0,0,.7);
    @include transition(.5s);
    &:hover{
      color: $brand-primary !important;
    }
  }

  &.has-dropdown {
    position: relative;
    .dropdown {
      width: 140px;
      -webkit-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
      box-shadow: 0px 14px 33px -9px rgba(0,0,0,0.75);
      z-index: 1002;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 40px;
      left: 0;
      text-align: left;
      background: $brand-black;
      padding: 20px;
      @include border-radius(4px);
      @include transition(.0s);
      &:before {
        bottom: 100%;
        left: 40px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #000;
        border-width: 8px;
        margin-left: -8px;
      }

      li {
        display: block;
        margin-bottom: 7px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          padding: 2px 0;
          display: block;
          color: lighten($brand-black, 60%);
          line-height: 1.2;
          text-transform: none;
          font-size: 13px;
          letter-spacing: 0;
          &:hover {
            color: $brand-white;
          }
        }
      }
    }
    &:hover, &:focus {
      a {
        color: $brand-primary;
      }
    }
  }
  &.btn-cta {
    a {
      padding: 30px 0px !important;
      color: $brand-white;
      span {
        background: rgba($brand-primary,1);
        padding: 4px 10px;
        @include inline-block;
        @include transition(.3s);
        @include border-radius(100px);
      }
      &:hover {
        span {
          -webkit-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
          box-shadow: 0px 14px 20px -9px rgba(0,0,0,0.75);
        }
      }
    }
  }
  &.active {
    > a {
      color: $brand-primary!important;
      position: relative;

      &:after{
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

.navbar-dark .navbar-brand {
  color: #000;
}

.navbar-nav > li > a :hover {
  color: $brand-primary !important;
}

.top-menu {
  font-family: medium-content-sans-serif-font, sans-serif;
  width: 100%;
  position: fixed;
  background: #fff;
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  z-index: 999;
}

.text-main {
  color: #e6e6e6;
  font-family: "Open Sans", Georgia, serif;
  font-weight: 400;
  font-style: italic;
}

.jumbotron{
  padding: 2em 2em;
  &.jumbotron-fluid {
    margin-top: 60px ;
    background-color: #333;
    @media screen and (max-width: $screen-sm ) {
      margin-top: 90px ;
    }
  }
}

.nav-bar-active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 200;
  padding: 50px 0;
  display: none;
}

.markdown {
  color: #030303;
}

.font-size-16 {
  font-size: 16px;
}

.font-content {
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.9;
    text-align: left;
    font-style: normal;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-size: 1.1em;
    font-weight: 330;
    color: rgba(0,0,0,.84);
    letter-spacing: -.006em;
  }
}


.first-p-element {
  &:first-child:first-letter {
    color: $brand-black;
    float: left;
    font-family: Georgia;
    font-size: 115px;
    line-height: 90px;
    font-weight: 400;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

.list-unstyled{
  background: #fff;
  list-style: none;
}

.show-content {
  background: #fff;
  padding: 16px;
  margin-top: 30px;
  @media screen and (max-width: $screen-sm ) {
    margin-top: 0 ;
    border-radius: 0;
  }
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.02);
  border-radius: 5px;
}


.jumbotron {
  .h1, h2, h3, h4, h5, h6, figure {
    color: #fff !important;
  }
}

.right-content {
  margin-top: 30px;
  background: #fff 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.1), 0 2px 4px rgba(0,0,0,.02);
  border-radius: 5px;
  padding: 0;
  max-height: 800px;
}

.full-with {
  width: 100%;
}
.right-nav {
  .tags-header,
  .latest-article-header {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 1.1em;
    color: #38B7EA;
    padding: 0 12px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }

  .article-items {
    float: left;
    width: 100%;
    height: 120px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
    position: relative;
    .item-thumb {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 80px;
      height: 100px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      background-origin: border-box;
      box-sizing: border-box;
      border: 2px solid rgba(56,183,234,0);
      transition: border-color 250ms;
    }
    .item-content {
      display: inline-block;
      margin-left: 90px;
      margin-top: 2px;
      height: 60px;
      overflow: hidden;
      text-align: left;
      font-weight: 300;
      line-height: 20px;
      font-size: 0.9em;
      color: #565a5f;
      word-break: break-all;
      transition: color 250ms;
    }
    .item-time {
      position: absolute;
      left: 100px;
      top: 85px;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      color: #9a9ea3;
      font-size: 12px;
    }
    &:hover {
      .item-thumb {
        border: 1px solid #26a8ed;
      }

      .item-content {
        color: #26a8ed;
      }
    }
  }

  .tags-item {
    float: left;
    width: 100%;
    height: 200px;
    padding: 10px 0;
    margin-left: 10px;
    margin-right: 40px;
    a {
      padding: 3px 10px;
      text-decoration: none !important;
      border: 1px solid #428bca;
      border-radius: 2.5px;
      margin-bottom: 12px;
      margin-right: 10px;
      display: inline-block;
      font-weight: bold;
      background-color: #ffffff;
      color: #428bca;
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background-color: #428bca;
        color: #fff !important;
      }
    }
  }

}
