
// Public
@import "public";

// Share.js
@import "node_modules/social-share.js/src/css/share.scss";

// Select 2
@import url("vendor/select2.min.css");

// Markdown
@import "markdown";
@import url("vendor/highlight.min.css");

@import "form";
@import "font.scss";
@import "navbar";
@import "pagination";
@import "togglebutton";
@import "toastr";
@import "comment";
@import "styles";
@import "blog";

#app {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}



